# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: myAgentPool
  
stages:
- stage: BuildStage
  jobs:
    - job: BuildJob
      pool: myAgentPool
      steps:
        - script: |
            echo Building...
            python3 -m venv venv
            source venv/bin/activate
            pip install --upgrade pip setuptools wheel
            pip install -r requirements.txt
          displayName: 'Setting up the build process' 
